---
// Import necessary modules and utilities
import Icon from "@components/ui/icons/Icon.astro";

const { product } = Astro.props;
console.log("CardSmall recibió el producto:", product);
---

<a
  href={`/products/${product.id_producto}`}
  class="group relative flex h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-80"
>
  <img
    src={product.imagen}
    alt={product.nombre || "Imagen del producto"}
    class="absolute inset-0 h-full w-full object-cover object-center transition duration-500 ease-in-out group-hover:scale-110"
  />
  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-50"></div>
  <span class="relative mb-3 ml-4 text-sm font-bold text-white md:text-lg">
    {product.nombre || "Producto sin título"} <Icon name="openInNew" />
  </span>
</a>
